@model schema_app.Models.Gerecht

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gerecht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kcal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kcal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Suiker)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Suiker)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verzadigde_vetten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verzadigde_vetten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.koolhydraten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.koolhydraten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.eiwit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.eiwit)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
