@model IEnumerable<schema_app.Models.Gerecht>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kcal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Suiker)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Verzadigde_vetten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.koolhydraten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eiwit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Naam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kcal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Suiker)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Verzadigde_vetten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.koolhydraten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eiwit)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
